# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
dist/
build/
dist-ssr/


# Logs
logs/
*.log
npm-debug.log*


# Editor settings
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
